:root {
  --color-blue: #035a9d;
  --color-green: #65da65;
  --color-black: #252f42;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}
